#node modules
node_modules/

#sample
sample.txt
TECHNICAL_OVERVIEW.md
scripts/

#database files
database.sqlite
attendance.db

#package files
package-lock.json
yarn.lock

#session files
sessions/

#package output
*.zip
packager.sh


