#node modules
node_modules/

#sample
sample.txt

#database files
database.sqlite
attendance.db
attendance.db-shm
attendance.db-wal

#logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


#package files
package-lock.json
yarn.lock

#session files
sessions/

#package output
*.zip
package.sh